<strong>Olá, {{ provider }}</strong>
<p>Houve um novo agendamento, confira os detalhes abaixo: </p>
<p>
    <strong>Cliente: </strong> {{ user }} <br />
    <strong>Data/hora: </strong> {{ date }} <br />
    <br />
    <small>
        O horário já não está mais disponível para novos agendamentos.
    </small>

</p>